
.loginForm h2,h3,h4,h5,h6{
    text-align: center;
    color: #3d3737;
    margin: 0;
}
.loginForm h4, .loginForm a{
    color:#534a4a;
}
.signupForm h2,h3,h4,h5,h6{
    text-align: center;
    color: #3d3737;
    margin: 0;
}

.formButton{
    background-color: #ffffff;
    color: #3d3737;
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
    cursor: pointer;
    font-family: "Playpen Sans",sans-serif;
}

.formBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

#signupMargin{
    margin-top: 50px;
    
}

table.signupForm {
    justify-content: center;
    align-items: center;
    background:#edadbb;
    color:#3d3737;
    border: 5px solid white;
    border-radius: 10px;
    font-size:12px;
    min-height: fit-content;
    padding: 2em;
    padding-top: 1em;
    width:360px; 
    font-family: "Playpen Sans",sans-serif;
}

table.signupForm input[type="submit"] {
    background-color: #ffffff;
    color: #3d3737;
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
    cursor: pointer;
    font-family: "Playpen Sans",sans-serif;
}


table.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    background:#edadbb;
    color:#3d3737;
    border: 5px solid white;
    border-radius: 10px;
    font-size:12px;
    min-height: fit-content;
    padding: 2em;
    width:350px; 
    font-family: "Playpen Sans",sans-serif;
}

table.loginForm input[type="submit"] {
    background-color: #ffffff;
    color: #3d3737;
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
    cursor: pointer;
    font-family: "Playpen Sans",sans-serif;
}

tr.fixPadding>td {
    padding-bottom: 0em;
    height: 2px;
    
}

.loginForm td{
    vertical-align: baseline;
    padding: 0.5em;
}

.signupForm td{
    vertical-align: baseline;
    padding: 10px;
}

.loginForm label{
    text-align: left;
    display:block;
}

.signupForm label{
    text-align: left;
    display:block;
}

.secInputs {
    padding: 0.375rem 2.75rem;
}