html, body {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px; /* Set the maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 10px; /* Add padding to the container */
}
.justify-content-center{
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
  }
  img {
    width: 100%;
    height: 50%;
  }
  #nav-bar {
    width: 100%; /* Take up the full width of the viewport */
    height: 100%;
    background-color: #ffffff;
    font-family:fantasy;
  }

  ul {
    list-style-type: none; /* Remove bullet points for list items */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    padding-top: 12px;
}

  li {
    display: inline; /* Display list items horizontally */
}
.dropdown-link {
    text-decoration: none; /* Remove underline from links */
    color: #ffaac6; /* Text color for links */
    font-size: 2em;
    display:inline-block;
    padding-left: 145px;
    padding-bottom: 12px;
}
.dropdown-content a {
    text-decoration: none; /* Remove underline from links */
    color: #ffaac6; /* Text color for links */
    font-size: large;
    padding-left: 15px;
    padding-right: 15px;
}
.dropdown-content li {
    display: inline; /* Display list items horizontally */
    margin-right: 20px; /* Add some spacing between items */
    display:inline-block;
}

.nav-link{
    text-decoration: none; /* Remove underline from links */
    color: #ffaac6; /* Text color for links */
    font-size: 1.5em;
    padding-top: 5px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
}
.nav-link-end{
    text-decoration: none; /* Remove underline from links */
    color: #3d3737; /* Text color for links */
    font-size: 1.5em;
    padding-left: 15px;
    padding-right: 145px;
    padding-top: 5px;
    padding-bottom: 12px;
    float: right;
    z-index: 2;
}
.dropdown-content {
    display: none;
    margin-left: 130px;
    position: absolute;
    background-color: #fffefe;
    border: 3px solid #fccddd;
    box-shadow: 5px 10px #fccddd;
    text-decoration: none;
    color: #ffaac6;
    border-radius: 5px;
    width: 250px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    display: block;
    margin-right: 0;
    padding-top: 5px;
    padding-bottom: 15px;
}
.vl {
    border-left: 6px solid #3d3737;
    height: 30px;
    float: right;
    border-width: 2px;
    margin-top: 5px;
    background-color: #ffaac6;
}

#about-img{
    height: 20em;
    width: 80%;
    border-radius: 1.5em;
    object-fit: contain;
    margin-top: 2em;
}

.text-block{
    color: #3d3737;
    font-family: "Playpen Sans", serif;
    font-size: 1.5em;
}
.text-align-center{
    text-align: center;
}

.formBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:auto; 
    margin-right:auto;
    text-align: center;
}

table.loginForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background:#edadbb;
    color:black;
    border: 5px solid white;
    border-radius: 10px;
    font-family: fantasy,sans-serif;
    font-size:12px;
    height: 400px;
    width:350px; 
    margin-left:auto; 
    margin-right:auto;
}

table.loginForm input[type="submit"] {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
    cursor: pointer;
    font-family: fantasy, sans-serif;
}

tr.fixPadding>td {
    padding-bottom: 0em;
    height: 2px;
    
}

.loginForm td{
    vertical-align: baseline;
    padding: 10px;
}

.loginForm label{
    text-align: left;
    display:block;
}

.defaultWidth {
    width: 250px; 
    box-sizing: border-box;
}

.special-width {
    width: 115px;
    box-sizing: border-box; 
}


.maincontainer{

    width: auto;
    height: 500px;
    background-image: url("https://i.pinimg.com/originals/12/84/a4/1284a4ee744be631e97a04d1934877d9.jpg");
    background-size: cover;
    justify-content: center;
    /* align-items: center; */
}

.submit-button-container {
    display: flex;
    justify-content: center; /* Center horizontally within the container */
}

h2,h3,h4,h5,h6{
    font-family: fantasy, sans-serif;
    text-align: center;
}

.formButton{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
    cursor: pointer;
    font-family: fantasy, sans-serif;
}

.gallery-container {
    max-width: 1400px; /* Set the maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    padding-top: 690px;

}
body {
    position: relative;
}
.kitty-card {
    background-color: #fffefe;
    border: 3px solid #fccddd;
    box-shadow: 5px 3px #8b8181dc;
    border-radius: 8px;
    color:#ffaac6;
    font-family: fantasy;
    font-size: large;
    max-width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    margin: 20px;
}

.card .kitty-card:hover {
    box-shadow: 5px 10px #ffaac6dc;
    filter: saturate(150%);
}

.kitty-card img {
    width: 250px;
    height: 220px;
    border-radius: 5px;
}

.gallery-container-carousel {
    padding-top: 620px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 20px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin-left: 25px;
    margin-right: 25px;
   
}

.card-container-carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-left: 25px;
    padding-right: 15px;
    position: relative;
    z-index: 1;
}

.card-carousel {
    flex: 0 0 calc(100% / 4); /* Display 4 cards at a time */
    max-width: calc(100% / 4);
    box-sizing: border-box;
    position: relative;
}

.prev-btn, .next-btn  {
    position: absolute;
    top: 79%;
    cursor: pointer;
    font-family: fantasy, sans-serif;
    font-size: 2em;
    z-index: 2; 
    background-color: #fffefe;
    border: 1px solid #ffaac6;
    border-radius: 8px;
    color:#ffaac6dc;
    padding-bottom: 9px;
}

.prev-btn:hover, .next-btn:hover {
    box-shadow: 5px 10px #ffaac6dc;
    filter: saturate(150%);
}

.prev-btn {
    left: 15px;
    border: 5px solid #ffdee9;
    box-shadow: 5px 10px #fccddd;
    color:#ffaac6dc;
    background-color: #ffdee9;
    font-weight: bold;
    font-size: xx-large;
    font-family: fantasy;
    text-shadow:1px 2px #ffaac6dc;
}

.next-btn {
    right: 10px;
    border: 5px solid #ffdee9;
    box-shadow: 5px 10px #fccddd;
    color:#ffaac6dc;
    background-color: #ffdee9;
    font-weight: bold;
    font-size: xx-large;
    font-family: fantasy;
    text-shadow:1px 2px #ffaac6dc;
}
.kitty-card-carousel {
    background-color: #fffefe;
    border: 3px solid #fccddd;
    box-shadow: 5px 3px #8b8181dc;
    border-radius: 8px;
    color:#ffaac6dc;
    font-family: fantasy;
    font-size: x-large;
    max-width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 35px;
    z-index: 3;
    position: relative;
}

.card-carousel:hover .kitty-card-carousel:hover {
    box-shadow: 5px 10px #ffaac6dc;
    filter: saturate(150%);
}

.kitty-card-carousel img {
    max-width: 250px;
    height: 220px;
    border-radius: 5px;
}

.header_img {
    height: 1000px;
    width: 100%;
    position: absolute;
}

.home-sub-header {
    color:#ffaac6;
    position: absolute;
    background-color: #ffffff;
    border: 3px solid #fccddd;
    box-shadow: 5px 3px #8b8181dc;
    padding: 5px 5px 5px 5px;
    width: 400px;
    border-radius: 8px;
    text-align: center;
    margin-top: 625px;
    margin-left: 525px;
    font-size: large;
    font-family: fantasy;
    cursor: pointer;
    z-index: 4;
    text-decoration: none;
}

.home-sub-header:hover {
    box-shadow: 5px 10px #ffaac6dc;
    filter: saturate(150%);
}

.adoption-form-container {
    text-align: left;
    max-width: 500px;
    margin: auto;
    line-height: 2em;
    color: #3d3737;
    font-family: "Playpen Sans", serif;
}

.adoption-form h1,h2,h3,h4,h5 {
    text-align: left;
    color: #3d3737;
    font-family: "Playpen Sans", serif;
}

.search-container {
    color:#ffaac6;
    position: absolute;
    background-color: #ffffff;
    border: 3px solid #fccddd;
    box-shadow: 5px 3px #8b8181dc;
    padding: 20px 50px 25px 50px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    margin-top: 550px;
    margin-left: 440px;
    font-size: x-large;
    font-family: fantasy;
    cursor: pointer;
    z-index: 4;
}

.search-container:hover {
    box-shadow: 5px 10px #ffaac6dc;
    filter: saturate(150%);
}

.search-container form {
    display: inline-block;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    border-color: #ffaac6;
}

#searchByDropdown {
    padding: 8px;
    font-size: 16px;
    border: 5px solid #ffdee9;
    box-shadow: 5px 10px #fccddd;
    color:#ffaac6dc;
    font-family: fantasy;
}

.search-container input {
    padding: 8px;
}

.search-container a {
    text-decoration: none;
    color: #ffffff;
}

.search-container button {
    padding: 8px 12px;
    margin-left: 30px;
    background-color: #ffaac6;
    box-shadow: 5px 3px #8b8181dc;
    color: #ffffff;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: fantasy;
    border-radius: 8px;
    font-size: large;
}